@page "/addPatient"
@using ThrombosisApp.Shared.Dto;
@using System.Text.Json;
@inject HttpClient Http;

<PageTitle>Add a Patient</PageTitle>

<h1 class="form-title">Add a Patient</h1>
<p>Add a patient with the form below.</p>

<EditForm Model="@newPatient" OnValidSubmit="@SumbitNewPatient">
<DataAnnotationsValidator/>
<ValidationSummary/>

<p>
    <label for="firstName">First Name</label>
    <InputText id="firstName" @bind-Value="newPatient.FirstName" class="form-control form-extra"/>
</p>
<p>
    <label for="lastName">Last Name</label>
    <InputText id="lastName" @bind-Value="newPatient.LastName" class="form-control form-extra" />
</p>
<p>
    <label for="inr">INR</label>
    <InputNumber id="inr" @bind-Value="newPatient.INR" class="form-control form-extra"/>
</p>

<button type="submit" class="btn btn-outline-primary">Submit</button>

</EditForm>

@code {
    private NewPatientDto newPatient = new();
    private HttpResponseMessage addedPatient;
    private async Task SumbitNewPatient()
    {
        HttpResponseMessage addedPatient = await Http.PostAsJsonAsync<NewPatientDto>("https://localhost:5007/Patients", newPatient);
    }
}