@* @page "/details/{PatientId:int}"
@using ThrombosisApp.Shared.Dto;
@using Microsoft.AspNetCore.Components.Web
@inject HttpClient Http;

<PageTitle>Patient Details</PageTitle>

<h1>Patient Details</h1>

<p>More patient details</p>

@if (patients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Dose</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in patients)
            {
                <tr>
                    <td>@patient.FirstName @patient.LastName</td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DoseDescriptionDto[]? doses;

    protected override void OnInitialized()
    {
        PatientResponseDto patient = Patients.patients
    }
} *@
