@page "/patients"
@using ThrombosisApp.Shared.Dto;
@using Microsoft.AspNetCore.Components.Web
@inject HttpClient Http;
@inject NavigationManager NavigationManager;

<PageTitle>Patient List</PageTitle>

<h1>Patient List</h1>

@if (patients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>INR</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in patients)
            {
                <tr class="table-wrapper">
                    <td class="table-text" @onclick="() => GoToMoreDetails(patient.PatientId)">@patient.FirstName</td>
                    <td @onclick="() => GoToMoreDetails(patient.PatientId)">@patient.LastName</td>
                    <td>@patient.INR</td>
                    <td class="btn-wrapper">
                        <button @onclick="() => GoToEditForm(patient.PatientId)" class="btn btn-outline-primary btn-custom">Edit</button>
                        <button @onclick="() => DeletePatient(patient.PatientId)" class="btn btn-outline-primary btn-custom">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public PatientResponseDto[]? patients;

    protected override async Task OnInitializedAsync()
    {
        patients = await Http.GetFromJsonAsync<PatientResponseDto[]>("https://localhost:5007/Patients");
    }
    private async Task DeletePatient(int patientId)
    {
        await Http.DeleteAsync($"https://localhost:5007/Patients/{patientId}");
        //delete it without calling the server again?
        patients = await Http.GetFromJsonAsync<PatientResponseDto[]>("https://localhost:5007/Patients");
    }
    private void GoToEditForm(int patientId)
    {
        NavigationManager.NavigateTo($"/editPatient/{patientId}");
    }
    private void GoToMoreDetails(int patientId)
    {
        NavigationManager.NavigateTo($"/details/{patientId}");
    }
}
